$themes: (
    light: (
      textColor: #000,
      bg: white,
      logo: darkblue,
      bgSoft: #f0f2f5,
      bgSoft2: whitesmoke,
      textColorSoft: #555,
      border: lightgray,
      nav: #7719ab,
      navC: white,
      but: #7719ab,
    ),
    dark: (
      textColor: whitesmoke,
      bg: #222,
      logo: white,
      bgSoft: #333,
      bgSoft2: #333,
      textColorSoft: lightgray,
      border: #444,
      nav: #222,
      navC: white,
      but: #444,
    ),
    rosa: (
      textColor: whitesmoke,
      bg: #7719ab,
      logo: white,
      bgSoft: #f1889b,
      textColorSoft: lightgray,
      border: #f99aaa,
    ),
  );
  
  @mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }
  
  @mixin mobile {
      @media (max-width: 480px) {
        @content;
      }
    }
    @mixin tablet {
      @media (max-width: 960px) {
        @content;
      }
    }