@import "../../App.scss";

.pages{
    @include themify($themes) {
        background-color: themed("bg");
        color: themed("textColor");
        
        flex: 1;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;

        &::-webkit-scrollbar{
            display: none;
        }

        .container{
            padding: 20px;
        }
    }
}